
.caraousel5{
    width: 100%;
}

.caraousel5 div {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.caraousel5 img{
    width: 80%;
    height: 8rem;
    object-fit: contain;
    aspect-ratio: 2/2;
    mix-blend-mode: overlay;
}
