@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom styles go here */

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
background-color: rgba(255, 255, 255, 0.733);
border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: #d86135ea;
  border-radius: 10px;
} */